/* 
cia perrasome REM vieneto dydi,
ignoruodami vartotojo narsykles nustatymus
*/
/* html {
    font-size: 16px;
} */

body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
}

header {
    font-size: 2rem;
}

button {
    padding: 0.5em 1em;
    font-size: 2rem;
}

form {
    display: flex;
    gap: 2rem;
    align-items: center;
    font-size: 3rem;
}

form > button {
    background-color: red;
}
form > button:last-child {
    background-color: yellow;
}
form > div {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
}
